# ---------------------------
# CONFIGURACION LOCAL
# ---------------------------

# URL base del servidor SonarQube. Se usa para la comunicación con su API y para abrir el dashboard de proyectos.
sonarHostUrl=http://localhost:9000

# Ruta absoluta del directorio raíz del workspace. Todas las rutas de proyectos son relativas a este directorio.
workspaceBaseDir=/home/richard/www


# ---------------------------
# CONFIGURACION DOCKER
# ---------------------------

# # URL base del servidor SonarQube dentro de la red Docker (el hostname "sonarqube" resuelve al contenedor de SonarQube).
# sonarHostUrl=http://sonarqube:9000

# # Ruta absoluta del directorio raíz del workspace dentro del contenedor Docker.
# workspaceBaseDir=/workspace

